.header {
    display: flex;
    justify-content: space-evenly;
}
.header .content{
    display: flex;
    align-items: center;
}
.header .content label{
    font-size: 22px;
    font-weight: 700;
    color: rgb(82, 18, 119);
    font-style: normal;
    font-family: monospace;
}
.header .content p{
    font-size: 22px;
    font-weight: 700;
    color: rgb(22, 31, 29);
    font-style: normal;
    font-family: monospace;
}
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
}
