.footer{
    height: 37px;
    border-style: solid;
    border-color: #041212f7;
    background-color: #011d1d;
    display: flex;
    color: #f9f9f9;
    align-items: center;
    justify-content: flex-end;
}